[Unit]
Description=FTTN manager
After=network-online.service syslog.target

[Service]
ExecStart=/home/danlyke/code/irrigation/irrigation_control-daemon
Type=forking

[Install]
WantedBy=multi-user.target

