[Unit]
Description=FTTN manager
After=network-online.service syslog.target

[Service]
ExecStart=/home/danlyke/code/irrigation/bin/irrigationcontrol_daemon
Type=simple

[Install]
WantedBy=multi-user.target

